# History files
.Rhistory
.Rapp.history

# OS Files
.DS_Store

*.log
*.gz
*.aux


# /Data/**/*.txt
# /Data/**/*.csv
# /Data/**/*.DAT
# /Data/**/*.nc
# /Data/**/*.fwf
# /Data/**/*.zip
!/Data/trophicTrawl/*

*.xlsx
*.docx

# Specific large results files
rbo.RData
richness.basic.out.RData
HadISST_trajectoriesImage.shelf.RData
HadISST_trajectories.shelf.RData
HadISST_trajectoriesImage.RData
HadISST_trajectories.RData

# Huge MSOM Results
/Results/Richness/msomCov/msomCov.full/*

# Log files
*.out
*.Rout

# Report Caches
/Reports/assess.sim.basic/assess.sim.basic_cache2/*
